
@font-face {
  font-family: 'NotoSansOriya';
  src: url('NotoSansOriya.eot?#iefix') format('embedded-opentype'),  url('NotoSansOriya.woff') format('woff'), url('NotoSansOriya.ttf')  format('truetype'), url('NotoSansOriya.svg#NotoSansOriya') format('svg');
  font-weight: normal;
  font-style: normal;
}
